body {
    margin: 0;
    background-color: #1f2041;
    font-family: 'Roboto Slab', serif;
}

#title {
    margin: 0;
}

#select-image {
    transition: transform .5s;
    cursor: pointer;
}

#select-image:hover {
    transform:  translate(0px, 5px);
}

#select-image.slide-down {
    transform:  translate(0px, 55px);
}

#select-image.slide-up {
    transform: translate(0px, 0px);
}

#logo {
    transition: transform 0.5s;
}

#logo.slide-up {
    transform:  translate(0px, -42px);
}

#logo.slide-down {
    transform:  translate(0px, 0px);
}

#decoration {
    transition: transform 0.5s;
}

#decoration.slide-up {
    transform:  translate(0px, -42px);
}

#decoration.slide-down {
    transform:  translate(0px, 0px);
}

#colors {
    transition: transform 0.5s;
}

#colors.slide-up {
    transform:  translate(0px, -42px);
}

#colors.slide-down {
    transform:  translate(0px, 0px);
}

.color-picker {
    fill: #4b3f72;
    stroke: #8b78c9; 
    stroke-width: .5px;
    transition: stroke-width 0.5s;
}

.color-picker.selected {
    stroke-width: 1px;
}

#image-container {
    width: 96%;
    height: 90%;
    left: 2%;
    top: 5%;
    position: absolute;
    z-index: -1;
}

#image-container.selected {
    box-shadow:  0 0 25px #56d8df;
}

.small-text {
    font: italic 9px sans-serif;
    text-shadow: 2px 2px #1a0f3b;
    fill: #8b78c9;
}

.big-text {
    font: italic 17px sans-serif;
    text-shadow: 2px 2px #4a1fd6;
    fill: #8b78c9;
}

.interactable-text {
    font: italic 17px sans-serif;
    text-shadow: 2px 2px #4a1fd6, 0 0 25px blue;
    fill: #8b78c9;
}

/* .positional {
    transform: translate(0px, 10px);
    animation-name: msPositional;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes msPositional {
    from { transform: translate(0px, 0px); fill : green; } 
    to   { transform : translate(0px, 100px); fill : red; } 
  } */