body {
    margin: 0;
    background-color: #1f2041;
    font-family: 'Fredoka One', cursive;
}

#title {
    margin: 0;
}

#select-image {
    transition: transform .5s;
    cursor: pointer;
}

#select-image:hover {
    transform:  translate(0px, 5px);
}

#select-image.slide-down {
    transform:  translate(0px, 55px);
}

#select-image.slide-up {
    transform: translate(0px, 0px);
}

#logo {
    transition: transform 0.5s;
}

#logo.slide-up {
    transform:  translate(0px, -42px);
}

#logo.slide-down {
    transform:  translate(0px, 0px);
}

#decoration {
    transition: transform 0.5s;
}

#decoration.slide-up {
    transform:  translate(0px, -42px);
}

#decoration.slide-down {
    transform:  translate(0px, 0px);
}

#colors {
    transition: transform 0.5s;
}

#colors.slide-up {
    transform:  translate(0px, -42px);
}

#colors.slide-down {
    transform:  translate(0px, 0px);
}

.color-picker {
    fill: #4b3f72;
    stroke: #8b78c9; 
    stroke-width: .5px;
    transition: stroke-width 0.5s;
}

.color-picker.selected {
    stroke-width: 1px;
}

#image-container {
    width: 96%;
    height: 90%;
    left: 2%;
    top: 5%;
    position: absolute;
    z-index: -1;
    display: block;
}

.small-text {
    font-size: 9px;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px #9f7106;
    fill: #ffd166;
}

.choosed-color {
    cursor: copy;
}

.big-text {
    font-size: 28px;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px #8f000f;
    fill: #ef476f;
}

.interactable-text {
    font-size: 17px;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 2px #9f7106;
    fill: #ffd166;
}

.info {
    color: white;
    z-index: -1;
}

.grid-container {
    width: 50%;
    margin-left: 25%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    text-align: center;
    color: #8b78c9;
}

form {
    text-align: center;
}

input {
    border-radius: 4px;
    background-color: #2f3051;
    border: 2px solid #0f1031;
    font-size: 17px;
    font-family: 'Fredoka One', cursive;
    color: #8b78c9;
}