body {
    margin: 0;
    background-color: #1f2041;
    font-family: 'Roboto Slab', serif;
}

#title {
    margin: 0;
}

#select-image {
    transition: transform .5s;
    cursor: pointer;
}

#select-image:hover {
    transform:  translate(0px, 5px);
}

#select-image.slide-down {
    transform:  translate(0px, 55px);
}

#select-image.slide-up {
    transform: translate(0px, 0px);
}

#logo {
    transition: transform 0.5s;
}

#logo.slide-up {
    transform:  translate(0px, -42px);
}

#logo.slide-down {
    transform:  translate(0px, 0px);
}

#decoration {
    transition: transform 0.5s;
}

#decoration.slide-up {
    transform:  translate(0px, -42px);
}

#decoration.slide-down {
    transform:  translate(0px, 0px);
}

#colors {
    transition: transform 0.5s;
}

#colors.slide-up {
    transform:  translate(0px, -42px);
}

#colors.slide-down {
    transform:  translate(0px, 0px);
}

#image-container {
    width: 96%;
    height: 90%;
    left: 2%;
    top: 5%;
    position: absolute;
    z-index: -1;
}

#image-container.selected {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .positional {
    transform: translate(0px, 10px);
    animation-name: msPositional;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes msPositional {
    from { transform: translate(0px, 0px); fill : green; } 
    to   { transform : translate(0px, 100px); fill : red; } 
  } */